<%- include('../../partials/banner.ejs') %>

    <div class="p-2 mt-4">
        <div class="p-2 rounded-sm">
            <canvas id="canvas"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/scripts/chart.js"></script>
    </div>
