<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>

    <body>
        <main class="grid min-h-screen grid-cols-12 gap-2 text-sm" id="main">
            <aside
                class="col-span-2 my-2 ml-2 flex flex-col rounded-sm bg-primary p-2 text-black outline outline-1 outline-gray-300">
                <div id="sidebar" class="flex-1">
                    <li class="mb-2 list-none" data-sidebar="dashboard">
                        <a class="inline-block w-full p-2 hover:bg-white/45" href="/app/dashboard">Dashboard</a>
                    </li>
                    <li class="mb-2 list-none" data-sidebar="reports">
                        <a class="inline-block w-full p-2 hover:bg-white/45" href="/app/reports">Reports</a>
                    </li>
                    <li class="mb-2 list-none" data-sidebar="logs">
                        <a class="inline-block w-full p-2 hover:bg-white/45" href="/app/logs">Logs</a>
                    </li>
                    <li class="mb-2 list-none" data-sidebar="settings">
                        <a class="inline-block w-full p-2 hover:bg-white/45" href="/app/settings">Settings</a>
                    </li>
                </div>
                <%- include('../partials/avatar.ejs') %>
            </aside>
            <div class="col-span-10 my-2 mr-2 rounded-sm bg-white p-2 outline outline-1 outline-neutral-300">
                <%- body %>
            </div>
        </main>
    </body>
    <script src="/scripts/sidebar.js"></script>

</html>
