<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header.ejs') %>

    <body>
        <main>
            <aside>
                <li> <a href="/app/dashboard">Dashboard</a> </li>
                <li> <a href="/app/reports">Reports</a> </li>
                <li> <a href="/app/settings">Settings</a> </li>
            </aside>
            <div>
                <%- body %>
            </div>
        </main>
    </body>

</html>
